{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    
    <title>{% block title %} {% endblock %}</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/ico/favicon.ico' %}">
    
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/selects/select2.min.css' %}">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/unslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/weather-icons/climacons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/meteocons/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/charts/morris.css' %}">
    <!-- END: Vendor CSS-->

    {% block extrastyle %} {% endblock %}
    {% block breadcrumbs %} {% endblock %}
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.min.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/simple-line-icons/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/timeline.min.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-semi bg-purple navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand"><img class="brand-logo" alt="stack admin logo" src="{% static 'app-assets/images/logo/stack-logo-light.png' %}">
                <h2 class="brand-text text-white">W-sistemas</h2></a></li>
          </ul>
        </div>
        
      </div>
    </nav>


    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- Stats -->
          {% block content %} {% endblock content%}
        </div>
      </div>
    </div>

	</div>
</div>
    </div>
  
    <footer class="footer footer-static footer-light navbar-border">
      <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-center d-block d-md-inline-block">W-sistemas</span></p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'app-assets/vendors/js/charts/raphael-min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/charts/morris.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/unslider-min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/timeline/horizontal-timeline.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'app-assets/js/core/app-menu.min.js' %}"></script>
    <script src="{% static 'app-assets/js/core/app.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/customizer.min.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'app-assets/js/scripts/pages/dashboard-ecommerce.min.js' %}"></script>
    <!-- END: Page JS-->
    <script src="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/forms/select/form-select2.min.js' %}"></script>
  </body>
  <!-- END: Body-->

</html>