{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Cadastro de produtos{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header">
            <h5 class="font-weight-bold">CADASTRAR PRODUTOS</h5>
        </div>
        <div class="card-body">
            <form method="post" id="product-form">{% csrf_token %}
                {{ form }}
                {% bootstrap_button button_type="submit" content="Cadastrar"%}
                <a  href="{% url 'lista-de-produtos' %}" type="button" class="btn btn-light btn-min-width mr-1 mb-1 mt-1 white">
                    <i class="icon-list white mr-1"></i>Ver produtos</a>
            </form>
        </div>
    </div>
</div>
<script src="{% static "jquery/jquery-3.6.0.min.js"%}"></script>
<script src="{% static "js/sweetalert2@11.js"%}"></script>
<script src="{% static "js/sweetalert2.all.min.js"%}"></script>
<script>
    $(document).ready(function () {
        $('#product-form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "cadastrar-produtos" %}',
                data: $('#product-form').serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Produto cadastrado com sucesso!',
                            timer: 2000,
                            showConfirmButton: false,
                        }).then(function () {
                            location.reload();
                        });
                    } else if(response.erro){
                        Swal.fire({
                            icon: 'warning',
                            title: 'Atenção',
                            text: response.erro,
                            timer: 2000,
                            showConfirmButton: false,
                        })
                    }
                },
                error: function (xhr) {
                    var errors = JSON.parse(xhr.responseText);
            
                    if (errors.erro) {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: errors.erro,
                            timer: 2000,
                            showConfirmButton: false,
                        }).then(function () {
                            // Handle error as needed
                        });
                    }
                }
            });
            
        });
    });
</script>
{% endblock content %}