{% extends "base.html" %}
{% load static %}
{% block title %}Cadastar de saída{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header">
            <h5 class="font-weight-bold">CADASTRAR SAÍDAS</h5>
        </div>
        <div class="card-body">
            <form method="post" id="product-form"> {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-secondary btn-min-width mr-1 mb-1 mt-1">Cadastrar</button>
                <a href="{% url 'relatorio-entrada-saida' %}" type="button" class="btn btn-primary">Voltar</a>
            </form>
        </div>
    </div>
</div>
<script src="{% static "jquery/jquery-3.6.0.min.js"%}"></script>
<script src="{% static "js/sweetalert2@11.js"%}"></script>
<script src="{% static "js/sweetalert2.all.min.js"%}"></script>

<script>
    $(document).ready(function () {
        $('#product-form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "cadastro-saida" %}',
                data: $('#product-form').serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Despesa cadastrada com sucesso!',
                            timer: 2000,
                            showConfirmButton: false,
                        }).then(function () {
                            location.reload();
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock content %}