{% extends "base.html" %}
{% load static %}
{% block title %}Lista de produtos{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Lista de produtos</h4>
        <a href="{% url 'cadastrar-produtos' %}" type="button" class="btn btn-secondary btn-min-width ">
            <i class="icon-plus white mr-1"></i> Cadastrar produtos
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do produto</th>
                        <th>Preço</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <th scope="row">{{ produto.id }}</th>
                            <td>{{ produto.nome_produto }}</td>
                            <td>{{ produto.preco_do_produto }}</td>
                            <td>{{ produto.descricao }}</td>
                            <td>
                                <a href="{% url 'editar-produto' pk=produto.id %}" class="btn btn-warning">
                                    <i class="icon-pencil"></i>
                                </a>
                                
                                <form action="{% url 'deletar-produto' produto.id %}" method="post" class="d-inline" id="deleteForm{{ produto.id }}">{% csrf_token %}
                                    <button class="btn btn-danger" type="button" onclick="confirmDelete({{ produto.id }})"><i class="icon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="step-links">
                    {% if produtos.has_previous %}
                        <a href="?page=1">&laquo; Primeiro</a>
                        <a href="?page={{ produtos.previous_page_number }}">Voltar</a>
                    {% endif %}

                    <span class="current">
                        Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}.
                    </span>

                    {% if produtos.has_next %}
                        <a href="?page={{ produtos.next_page_number }}">Próximo</a>
                        <a href="?page={{ produtos.paginator.num_pages }}">Ultimo &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/sweetalert2.all.min.js'%}"></script>
<script src="{% static 'js/sweetalert2@11.js' %}"></script>
<script src="{% static "jquery/jquery.min.js"%}"></script>


<script>
    function confirmDelete(produtoId) {
        Swal.fire({
            title: 'Tem certeza?',
            text: 'Você não poderá recuperar este produto!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, exclua-o!',
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, submit the corresponding form
                document.getElementById('deleteForm' + produtoId).submit();
            }
        });
    }
</script>
{% endblock content %}

