{% extends "base.html" %}
{% load static %}
{% block title %}Pedidos{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Lista de pedidos</h4>
        <form method="get" class="form-inline">
            <div class="form-group mr-1">
                <label for="inputDate" class="sr-only">Data inicial:</label>
                <input type="date" class="form-control" id="inputDate" name="data_inicial" value="{{ request.GET.data_inicial }}">
            </div>
            <div class="form-group mr-1">
                <label for="inputEndDate" class="sr-only">Data Final:</label>
                <input type="date" class="form-control" id="inputEndDate" name="data_final" value="{{ request.GET.data_final }}">
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>    
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tamanho do copo</th>
                        <th>Forma de pagamento</th>
                        <th>Cliente</th>
                        <th>Data do pedido</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <th scope="row">#{{ pedido.codigo_do_pedido|default:"-----" }}</th>
                            <td>{{ pedido.tamanho_acai|default:"-----"  }}</td>
                            <td>{{ pedido.forma_de_pagamento|default:"-----"  }}</td>
                            <td>{{ pedido.nome|default:"-----"  }}</td>
                            <td>{{ pedido.create|default:"-----"  }}</td>
                            <td>
                                <form action="{% url 'deletar-pedido' pedido.pk%}" method="post" class="d-inline" id="deleteForm{{ pedido.id }}">{% csrf_token %}
                                    <button class="btn btn-danger mt-1" type="button" onclick="confirmDelete({{ pedido.id }})"><i class="icon-trash"></i></button>
                                </form>
                                <a class="btn btn-info mt-1" onclick="openModalInfoPeido(
                                    '{{pedido.nome}}', 
                                    '{{pedido.bairro}}', 
                                    '{{pedido.rua}}', 
                                    '{{pedido.numero_da_casa}}', 
                                    '{{pedido.complemento}}', 
                                    '{{pedido.create}}', 
                                    '{{pedido.codigo_do_pedido}}', 
                                    '{{pedido.tamanho_acai}}',
                                    '{% for item in pedido.caldas.all %}{{ item.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}',
                                    '{% for item in pedido.creme.all %}{{ item.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}', 
                                    '{% for item in pedido.fruta.all %}{{ item.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}', 
                                    '{% for item in pedido.outros.all %}{{ item.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}',
                                    '{% for item in pedido.adicionais.all %}{{ item.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}',
                                    '{{pedido.valor_do_pedido}}',
                                )">
                                    <i class="icon-info"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
           
            <div class="pagination">
                <span class="step-links">
                    {% if pedidos.has_previous %}
                        <a href="?page=1">&laquo; Primeiro</a>
                        <a href="?page={{ pedidos.previous_page_number }}">Voltar</a>
                    {% endif %}

                    <span class="current">
                        Página {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}.
                    </span>

                    {% if pedidos.has_next %}
                        <a href="?page={{ pedidos.next_page_number }}">Próximo</a>
                        <a href="?page={{ pedidos.paginator.num_pages }}">Ultimo &raquo;</a>
                    {% endif %}
                </span>
            </div> 
        </div>
    </div>
</div>
<div class="row grouped-multiple-statistics-card">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">
                  <span class="card-icon primary d-flex justify-content-center mr-3">
                    <i class="icon p-1 icon-bar-chart customize-icon font-large-2 p-1 success"></i>
                  </span>
                  <div class="stats-amount mr-3">
                      <h3 class="heading-text text-bold-600 text-success">
                          {% if valor_total_vendas != 0%}
                              R$ +{{valor_total_vendas}}
                          {% else %}
                              R$ 0
                          {% endif %}
                      </h3>
                    <p class="sub-heading">Valor total</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">
                  <span class="card-icon blue-grey.bg-darken-2 d-flex justify-content-center mr-3">
                    <i class="icon p-1 icon-calendar customize-icon font-large-2 p-1"></i>
                  </span>
                  <div class="stats-amount mr-3">
                      <h3 class="heading-text text-bold-600 text-blue-grey.bg-darken-2">
                          {% if valor_semanal != 0%}
                              R$ +{{valor_semanal}}
                          {% else %}
                              R$ 0
                          {% endif %}
                      </h3>
                    <p class="sub-heading">Valor semanal</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-sm-6 col-12">
                <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">
                  <span class="card-icon blue-grey.bg-darken-2 d-flex justify-content-center mr-3">
                    <i class="icon p-1 icon-calendar customize-icon font-large-2 p-1"></i>
                  </span>
                  <div class="stats-amount mr-3">
                      <h3 class="heading-text text-bold-600 text-blue-grey.bg-darken-2">
                          {% if valor_diario != 0%}
                              R$ +{{valor_diario}}
                          {% else %}
                              R$ 0
                          {% endif %}
                      </h3>
                    <p class="sub-heading">Valor diário</p>
                  </div>
                </div>
              </div>
                <div class="col-lg-3 col-xl-3 col-sm-6 col-12">
                    <div class="d-flex align-items-start">
                    <span class="card-icon warning d-flex justify-content-center mr-3">
                        <i class="icon p-1 icon-basket-loaded customize-icon font-large-2 p-1 info"></i>
                    </span>
                    <div class="stats-amount mr-3">
                        <h3 class="heading-text text-bold-600 text-info ">{{count_pedidos|length}}</h3>
                        <p class="sub-heading">Total de vendas</p>
                    </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal fade text-center" id="modal-pedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary white">
          <h4 class="modal-title" id="myModalLabel8">Informações do pedido!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="body-modal">
          
        </div>
        <div class="modal-footer" id="footer-modal">

        </div>
      </div>
    </div>
</div>

<script src="{% static 'js/sweetalert2.all.min.js'%}"></script>
<script src="{% static 'js/sweetalert2@11.js' %}"></script>
<script src="{% static "jquery/jquery.min.js"%}"></script>


<script>
    function confirmDelete(produtoId) {
        Swal.fire({
            title: 'Tem certeza?',
            text: 'Você não poderá recuperar este produto!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, exclua-o!',
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, submit the corresponding form
                document.getElementById('deleteForm' + produtoId).submit();
            }
        });
    }

    function openModalInfoPeido(nome, bairro, rua, numero_da_casa, complemento, create, codigo_do_pedido, tamanho, caldas, creme, fruta, outros, adicionais, valor_do_pedido){
        $("#modal-pedido").modal('show');
        $('#body-modal').empty(); 

       
        $('#footer-modal').empty();

        const body = `
            <h3><strong>${nome} </strong></h3><hr>
            
            <div class="text-left">
                Tamanho: <strong>${tamanho || '-----'}</strong>
                Caldas: <strong>${caldas || '-----'}</strong><br>
                Cremes: <strong>${creme || '-----'}</strong><br>
                Frutas: <strong>${fruta || '-----'}</strong><br>
                Outros: <strong>${outros || '-----'}</strong><br>
                Adicionais: <strong>${adicionais || '-----'}</strong><br>
                <h5><strong>Valor do pedido: ${valor_do_pedido || '-----'}</strong></h5>
            </div><hr>
            <div class="text-left">
                <h3 class="text-left">Endereço:</h3>
                Bairro: <strong>${bairro || '-----'}</strong><br>
                Rua: <strong>${rua || '-----'}</strong><br>
                Nº: <strong>${numero_da_casa || '-----'}</strong><br>
                Ponto de referencia: <strong>${complemento || '-----'}</strong> 
            </div>
        `;

        const footer = `  
            <div class="d-flex justify-content-between" style="width: 100%;">
                <p class="text-white bg-primary rounded">#${codigo_do_pedido}</p>
                <p>${create}</p>
            </div>
        `;

        
        $('#body-modal').append(body); 

        $('#footer-modal').append(footer); 
    }
</script>
{% endblock content %}

