{% extends "base2.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Realizar pedido{% endblock %}

{% block bar%}
    <button class="btn" type="button" onclick="visualizarPedidos()">
        <i class="fa fa-shopping-cart text-white fa-lg" id="cont-pedidos"></i>
    </button>
{% endblock bar%}
{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <form method="post" id="form-id">
            <div class="card-header">
                <h5 class="font-weight-bold">Monte seu açaí:</h5>
                <p style="font-size: 12px; margin-bottom: -18px;">Você pode adicionar até 6 itens no açaí. Será cobrado +2 reais por adicional caso ultrapasse o limite.</p>
            </div>
            <div class="card-body">
                <div class="col">
                    {% csrf_token %}
                    <label>Tamanho do copo:</label>
                    <select class="form-control" aria-label="Default select example" id="tamanho" name="tamanho">
                        <option value="" selected>Selecione o tamanho do copo</option>
                        {% for acai in tamanho_acai %}
                            <option value="{{acai.tamaho_do_acai}}">{{acai.tamaho_do_acai}}</option>
                        {% endfor %}
                    </select>

                    <label>Caldas:</label>
                    <select class="select2 form-control" multiple="multiple" aria-label="Default select example" id="caldas" name="caldas">
                        {% for calda in caldas %}
                            <option value="{{calda.nome}}">{{calda.nome}}</option>
                        {% endfor %}
                    </select>

                    <label>Cremes:</label>
                    <select class="select2 form-control" aria-label="Default select example" multiple="multiple" id="creme" name="creme">
                        {% for creme in cremes %}
                            <option value="{{creme.nome}}">{{creme.nome}}</option>
                        {% endfor %}
                    </select>

                    <label>Frutas:</label>
                    <select class="select2 form-control" aria-label="Default select example" multiple="multiple" id="fruta" name="fruta">
                        {% for fruta in frutas %}
                            <option value="{{fruta.nome}}">{{fruta.nome}}</option>
                        {% endfor %}
                    </select>

                    <label>Outros:</label>
                    <select class="select2 form-control" aria-label="Default select example" multiple="multiple" id="outros" name="outros">
                        {% for outro in outros %}
                            <option value="{{outro.nome}}">{{outro.nome}}</option>
                        {% endfor %}
                    </select>

                    <label>Adicionais:</label>
                    <select class="select2 form-control" disabled style="width: 100%;" multiple="multiple" name="adicionais" id="adicionais" aria-label="Default select example">
                        <optgroup label="Caldas">
                            {% for calda in caldas %}
                                <option value="{{calda.nome}}">{{calda.nome}}</option>
                            {% endfor %}
                        </optgroup>

                        <optgroup label="Cremes">
                            {% for creme in cremes %}
                                <option value="{{creme.nome}}">{{creme.nome}}</option>
                            {% endfor %}
                        </optgroup>

                        <optgroup label="Frutas">
                            {% for fruta in frutas %}
                                <option value="{{fruta.nome}}">{{fruta.nome}}</option>
                            {% endfor %}
                        </optgroup>

                        <optgroup label="Outros">
                            {% for outro in outros %}
                                <option value="{{outro.nome}}">{{outro.nome}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="card-header">
                <h5 class="font-weight-bold" style="margin-bottom: -18px;">Endereço:</h5>
            </div>
            <div class="card-body">
                <div class="col">
                    <label>Bairro: *</label>
                    <input class="form-control" type="text" placeholder="Bairro" required id="bairro" name="bairro">
    
    
                    <label>Rua: *</label>
                    <input class="form-control" type="text" placeholder="Rua" required id="rua" name="rua">
    
    
                    <label>Nº da casa: *</label>
                    <input class="col-3 form-control" type="text" placeholder="Nº da casa" required id="numeroDaCasa" name="numero_da_casa">
    
    
                    <label>Ponto de referência: *</label>
                        <input class="form-control" type="text" placeholder="Ponto de referência *" id="Complemento" name="complemento">
                    </div>
                </div>
                <div class="card-header">
                    <h5 class="font-weight-bold" style="margin-bottom: -18px;">Info. do cliente e forma de pagamento:</h5>
                </div>
                <div class="card-body">
                    <div class="col">
                        <label>Nome:</label>
                            <input class="form-control" type="text" placeholder="Nome" required id="nome" name="nome">
                        </div><br>
                        <label class="font-weight-bold" style="margin-bottom: -18px;">Forma de pagamento:</label>
                        <div class="row">
                            <div class="col-6">
                                <fieldset class="radio">
                                    <label>
                                        <input type="radio" name="formaDePagamento" value="Pix" onclick="mostrarInput(this)">
                                        Pix
                                    </label>
                                </fieldset>
                            </div>
                            <div class="col-6">
                                <fieldset class="radio">
                                    <label>
                                        <input type="radio" name="formaDePagamento" value="Dinheiro" onclick="mostrarInput(this)">
                                        Dinheiro
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                        <div id="inputDinheiro" style="display:none;">
                            <label>Troco pra quanto?</label>
                            <input class="form-control" type="number" placeholder="Troco pra quanto?" id="dinheiro" name="dinheiro_valor">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success block" data-toggle="modal" data-backdrop="false" onclick="abrirModal()">
                    Salvar Pedido
                </button>
                <button type="button" id="adicionarPedidoBtn" onclick="adicionarPedido()" class="btn btn-outline-success">
                    <i class="fa fa-plus"></i> add
                </button>
            </div>
            <div class="modal fade text-center" id="modal-pedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-purple white">
                      <h4 class="modal-title" id="myModalLabel8">Revise seu pedido!</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="body-modal">
                      
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="add-product" class="btn btn-outline-success" onclick="gerarLinkWhatsApp()">
                            <i class="fa fa-whatsapp"></i> Enviar
                        </button>
                        <button onclick="limparLocalStorage()">Limpar localStorage</button>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade text-center" id="modal-pedidos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-purple white">
              <h4 class="modal-title" id="myModalLabel8">pedidos adicionados</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body-pedidos" id="body-pedidos">
                
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery/jquery-3.6.0.min.js' %} "></script>
<script src="{% static 'js/sweetalert2@11.js' %} "></script>
<script src="{% static 'js/sweetalert2.all.min.js' %} "></script>
<script src="{% static 'js/select2.min.js' %} "></script>
<script src="{% static 'app-assets/js/scripts/modal/components-modal.min.js' %} "></script>
<script>
    
    $(document).ready(function() {
        function atualizarQuantidadePedidos() {
            var pedidos = JSON.parse(localStorage.getItem('pedidos'));
            if (pedidos) {
                const qtPedidos = pedidos.length;
                $('#cont-pedidos').text(` ${qtPedidos}`);
            } else {
                $('#cont-pedidos').text('0');
            }
        }
    
        atualizarQuantidadePedidos();

        $('#adicionarPedidoBtn').click(function() {
            atualizarQuantidadePedidos();
        });
    });
    


    function adicionarPedido() {
        
        var tamanho = document.getElementById("tamanho").value;
        var caldas = Array.from(document.getElementById("caldas").selectedOptions).map(option => option.value);
        var cremes = Array.from(document.getElementById("creme").selectedOptions).map(option => option.value);
        var frutas = Array.from(document.getElementById("fruta").selectedOptions).map(option => option.value);
        var outros = Array.from(document.getElementById("outros").selectedOptions).map(option => option.value);
        var adicionais = Array.from(document.getElementById("adicionais").selectedOptions).map(option => option.value);

       
        var pedido = {
            tamanho: tamanho,
            caldas: caldas,
            cremes: cremes,
            frutas: frutas,
            outros: outros,
            adicionais: adicionais
        };

        
        if (tamanho || caldas.length || cremes.length || frutas.length || outros.length || adicionais.length) {
           
            var pedidos = JSON.parse(localStorage.getItem('pedidos')) || [];

           
            pedidos.push(pedido);

          
            localStorage.setItem('pedidos', JSON.stringify(pedidos));

            document.getElementById("tamanho").selectedIndex = 0;
            document.getElementById("caldas").selectedIndex = -1;
            document.getElementById("creme").selectedIndex = -1;
            document.getElementById("fruta").selectedIndex = -1;
            document.getElementById("outros").selectedIndex = -1;
            document.getElementById("adicionais").selectedIndex = -1;

            alert("Pedido adicionado com sucesso!");
        } else {
            alert("Por favor, selecione pelo menos um item para adicionar ao pedido.");
        }
    }




    function visualizarPedidos() {
        var pedidos = JSON.parse(localStorage.getItem('pedidos'));

        if (pedidos && pedidos.length > 0) {
            $("#modal-pedidos").modal('show');

            $('#body-pedidos').empty(); 

            var pedidosFormatados = pedidos.map(function(pedido){
                return pedido;
            });

            for(var i = 0; i < pedidosFormatados.length; i++){
                const pedidoId = 'pedido_' + i;
                const addPedidos = `
                    <div id="${pedidoId}" class="pedido-item p-1 rounded-2">
                        <div class="card">
                            <div class="d-flex justify-content-between card-header align-items-center">
                                <h4 class="card-title"><strong>tamanho: ${pedidosFormatados[i].tamanho}</strong></h4>
                                <button class="btn btn-danger" type="button" id="deletarPedidoId" onclick="deletarPedido(${i}, '${pedidoId}')">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                            <div class="card-body text-left">
                                Caldas: ${pedidosFormatados[i].caldas.length > 0 ? pedidosFormatados[i].caldas : "-----"}<br>
                                Cremes: ${pedidosFormatados[i].cremes.length > 0 ? pedidosFormatados[i].cremes : "-----"}<br>
                                Frutas: ${pedidosFormatados[i].frutas.length > 0 ? pedidosFormatados[i].frutas : "-----"}<br>
                                Outros: ${pedidosFormatados[i].outros.length > 0 ? pedidosFormatados[i].outros : "-----"}<br>
                                Adicionais: ${pedidosFormatados[i].adicionais.length > 0 ? pedidosFormatados[i].adicionais : "-----"}
                            </div>
                        </div>
                    </div>
                `;
                $('#body-pedidos').append(addPedidos); 
            }
        } else {
            alert("Nenhum pedido foi adicionado ainda.");
        }
    }

    function deletarPedido(index, pedidoId) {
        var pedidos = JSON.parse(localStorage.getItem('pedidos'));
        
        if (index >= 0 && index < pedidos.length) {
            pedidos.splice(index, 1);
            localStorage.setItem('pedidos', JSON.stringify(pedidos));
            $('#' + pedidoId).remove();

            function atualizarQuantidadePedidos() {
                var pedidos = JSON.parse(localStorage.getItem('pedidos'));
                if (pedidos) {
                    const qtPedidos = pedidos.length;
                    $('#cont-pedidos').text(` ${qtPedidos}`);
                } else {
                    $('#cont-pedidos').text('0');
                }
            }
        
            atualizarQuantidadePedidos();
    
            $('#deletarPedidoId').click(function() {
                atualizarQuantidadePedidos();
            });
        }
    }
    
    


    function limparLocalStorage() {
        // Limpar todos os dados do localStorage
        localStorage.clear();
        alert("Todos os dados foram removidos do localStorage.");
    }

    $(document).ready(function() {
        $('.select2').select2();
    });


    function mostrarInput(elemento) {
        var inputDinheiro = document.getElementById('inputDinheiro');

        if (elemento.value === 'Dinheiro') {
            inputDinheiro.style.display = 'block';
        } else {
            inputDinheiro.style.display = 'none';
        }
    }
    

    function alertaInput(){
        Swal.fire({
            icon: 'warning',
            title: 'ATENÇÃO!',
            text: 'Preencha os campos de endereço corretamente.'
        });
    }

    function calcTotal(adicionais) {
        console.log(adicionais.length);
        if (adicionais.length > 0){
            var adicionaisArray = adicionais.split(',').map(function (item) {
                return item.trim();
            });
        } else {
            return 0
        }


        var total =adicionaisArray.length * 2;
        return total
    }

    function abrirModal(){
        var tamanhoAcai = $("#tamanho").val();
        var caldas = $("#caldas").val().join(", ") || [];
        var creme = $("#creme").val().join(", ") || [];
        var fruta = $("#fruta").val().join(", ") || [];
        var outros = $("#outros").val().join(", ") || [];
        var adicionais = $("#adicionais").val().join(", ") || [];

        var bairro = $("#bairro").val() || '-----';
        var rua = $("#rua").val() || '-----';
        var numeroDaCasa = $("#numeroDaCasa").val() || '-----';
        var complemento = $("#Complemento").val() || '-----';

        var nome = $("#nome").val() || '-----';
        
        var formaDePagamento = $("input[name='formaDePagamento']:checked").val() || '-----';
        var dinheiroValor = $("#dinheiro").val() || '-----';

        if (bairro === '-----' || rua === '-----' || numeroDaCasa === '-----'){
            alertaInput()
        } else {
            
            
            $("#modal-pedido").modal('show');

            $('#body-modal').empty(); 

            var valorExibido = tamanhoAcai === '300 ML' ? 12 :
                  tamanhoAcai === '400 ML' ? 15 :
                  tamanhoAcai === '500 ML' ? 18 :
                  tamanhoAcai === 'Potão' ? 20 :
                  'Valor não correspondente';
                  
                  
            var adicionais = adicionais === '' ? '' : adicionais;
            var totalAdicionais = calcTotal(adicionais)

            var total = valorExibido + totalAdicionais + 2;

        
            const newRow = `
                <h6 class="text-left">Tamanho do copo:<strong> ${tamanhoAcai}</strong></h6>
                <h6 class="text-left">Caldas:</h6>
                <ul class="text-left"><li>
                    <strong>${caldas}</li></strong>
                </ul>
                <h6 class="text-left">Cremes:</h6>
                <ul class="text-left">
                    <strong><li>${creme}</li></strong>
                </ul>
                <h6 class="text-left">Frutas:</h6>
                <ul class="text-left">
                    <strong><li>${fruta}</li></strong>
                </ul>
                <h6 class="text-left">Outros:</h6>
                <ul class="text-left">
                    <strong><li>${outros}</li></strong>
                </ul>
                <h6 class="text-left">Adicionais:</h6>
                <ul class="text-left">
                    <strong><li>${adicionais}</li></strong>
                </ul>
                <hr>
                <div class="text-left">
                    <h5 class="font-bold">Endereço:</h5>
                    <p>Bairro: <strong>${bairro}</strong></p>
                    <p>Rua: <strong>${rua}</strong></p>
                    <p>Nº: <strong>${numeroDaCasa}</strong></p>
                    <p>Ponto de referência: <strong>${complemento}</strong></p>
                </div>
                <hr>
                <div class="text-left">
                    Valor do açai: <strong>R$ ${valorExibido}</strong><br>
                    Adicionais: ${totalAdicionais > 0 ? `<strong>R$ +${totalAdicionais}</strong> <br>` : '-----<br>'}
                    Taxa de entrega: <strong>R$ +2</strong> <br>
                    Total: <strong>R$ ${total}</strong>
                </div>
            `;
    
            $('#body-modal').append(newRow);    
        }
    }
    
    /*
    function retornarNumeroPedido() {
        return fetch('http://127.0.0.1:8000/numero-de-pedido')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao obter o número do pedido');
                }
                return response.json(); // Parse JSON response
            })
            .then(data => {
                
                return data; // Retorna os dados recebidos
            })
            .catch(error => {
                console.error('Erro ao obter o número do pedido:', error);
                throw error; // Rejeita a promessa com o erro
            });
    }
    async function minhaFuncao() {
        try {
            const numeroPedido = await retornarNumeroPedido();
            return numeroPedido
        } catch (error) {
            console.error('Ocorreu um erro:', error);
        }
    }
    */
    

    function gerarLinkWhatsApp() {
        var numeroWhatsApp = '9985572142';
    
        var tamanhoAcai = $("#tamanho").val();
        var caldas = $("#caldas").val() || [];
        var creme = $("#creme").val() || [];
        var fruta = $("#fruta").val() || [];
        var outros = $("#outros").val() || [];
    
        var adicionais = $("#adicionais").val() || [];
    
        var bairro = $("#bairro").val() || '-----';
        var rua = $("#rua").val() || '-----';
        var numeroDaCasa = $("#numeroDaCasa").val() || '-----';
        var complemento = $("#Complemento").val() || '-----';
    
        var nome = $("#nome").val() || '-----';
        
        var formaDePagamento = $("input[name='formaDePagamento']:checked").val() || '-----';
        var inputAdicionais = $("input[name='input_adicionais']:checked").val() || '-----';
        var dinheiroValor = $("#dinheiro").val() || '-----';

        //const numero = minhaFuncao();
        

        if (bairro === '-----' || rua === '-----' || numeroDaCasa === '-----') {
            alertaInput();
        } else {
            if (numeroWhatsApp && numeroWhatsApp.match(/^\d+$/)) {
                var pedidos = [
                    `======== PEDIDO ========`,
                    `Tamanho Açaí: *${tamanhoAcai || '-----'}*`,
                    `Frutas: *${fruta.length > 0 ? fruta.join(", ") : '-----'}*`,
                    `Caldas: *${caldas.length > 0 ? caldas.join(", ") : '-----'}*`,
                    `Cremes: *${creme.length > 0 ? creme.join(", ") : '-----'}*`,
                    `Outros: *${outros.length > 0 ? outros.join(", ") : '-----'}*`,
                    inputAdicionais ? 'Adicionais: *' + (adicionais.join(", ") || '-----') + '*' : '',
                    '\n',
                    '======== ENDEREÇO ========',
                    `Bairro: *${bairro}*`,
                    `Rua: *${rua}*`,
                    `Numero da casa: *${numeroDaCasa}*`,
                    `Complemento: *${complemento}*\n`,
                    '=== INFOR. DO CLIENTE E PAGAMENTO ===',
                    `Nome do cliente: *${nome}*`,
                    `Forma de pagamento: *${formaDePagamento}*`,
                ];
    
                if (formaDePagamento === 'Dinheiro') {
                    pedidos.push(`Dinheiro: *R$ ${dinheiroValor}*`);
                }
               
                var mensagem = pedidos.join("\n");
                var url = 'https://wa.me/' + numeroWhatsApp + '?text=' + encodeURIComponent(mensagem);
    
                // Check if the device is an iPhone
                var isIOS = /iPhone|iPad|iPod/i.test(navigator.userAgent);
                
                if (isIOS) {
                    // Open the link in a new tab or window
                    window.open(url, '_blank');
                } else {
                    // For non-iOS devices, use the original window.location.href
                    window.open(url, '_blank');
                }
            } else {
                alert('Número de WhatsApp inválido. Por favor, insira um número válido.');
            }
        }
    }

    
    function getCSRFToken() {
        const cookieValue = document.cookie.split(';').find(row => row.startsWith('csrftoken=')).split('=')[1];
        return cookieValue;
    }


    $(document).ready(function () {
        $('.select2').select2();
    
        $('#caldas, #creme, #fruta, #outros').on('change', function () {
            var totalItens = $('#caldas').val().length +
                $('#creme').val().length +
                $('#fruta').val().length +
                $('#outros').val().length;
    
            var inputAdicionais = document.getElementById('adicionais');
    
            if (totalItens >= 6) {
                inputAdicionais.removeAttribute('disabled');
                $('.select2-selection__choice').addClass('select2-selection__choice--removable');
            } else {
                inputAdicionais.setAttribute('disabled', 'disabled');
                $('#adicionais').val(null).trigger('change'); // Limpar os valores selecionados
                $('.select2-selection__choice').removeClass('select2-selection__choice--removable');
            }
        });
    
        $('#caldas, #creme, #fruta, #outros').on('select2:open', function () {
            var totalItens = $('#caldas').val().length +
                $('#creme').val().length +
                $('#fruta').val().length +
                $('#outros').val().length;
    
            if (totalItens >= 6) {
                Swal.fire({
                    icon: 'warning',
                    title: 'ATENÇÃO!',
                    text: 'Você atingiu o limite máximo de itens adicionados!',
                });
            }
        });
    
        $('.select2-selection__choice').on('click', function () {
            var totalItens = $('#caldas').val().length +
                $('#creme').val().length +
                $('#fruta').val().length +
                $('#outros').val().length;
    
            if (totalItens >= 6) {
                $(this).remove();
                $('#caldas, #creme, #fruta, #outros').val(null).trigger('change');
            }
        });
    });
     

    

</script>
{% endblock content %}